language: php

php:

dist: trusty

  - '7.0'

  - '7.1'

before_srcipt:

  - composer install --dev --prefer-source --no-interaction

  - cp .env.travis .env

  - php artisan key:generate

script:

  - vendor/bin/phpunit

  - vendor/bin/phpcs app --standard=PSR2